body {
    overflow: hidden;
}

#time {
    position: fixed;
    font-family: 'Indie Flower', cursive;
    display: block;
    margin-left: 0%;
    margin-top: 0%;
    color: white;
    padding: 5px;
    font-size: 40px;
}

#health {
    position: fixed;
    font-family: 'Indie Flower', cursive;
    display: block;
    margin-left: 69%;
    margin-top: 0%;
    color: white;
    padding: 3px;
    font-size: 40px;
}

#progress {
    background-color: rgb(144, 191, 230);
    position: fixed;
    margin-left: 77%;
    padding: 5px;
    margin-top: 15px;
    width: 330px;
    height: 20px;
    display: block;
    border-radius: 8px;
}

#bar {
    background-color: rgb(50, 133, 42);
    position: fixed;
    width: 330px;
    padding: 5px;  
    margin-left: 77%;
    margin-top: 15px;
    display: block;
    height: 20px;
    border-radius: 8px;
}

#header {
    font-family: 'Indie Flower', cursive;
    font-size: 90px;
    text-align: center;
    color: rgb(255, 255, 255);
    display: block;
    position: fixed;
    border-color: transparent;
    margin-left: 33%;
    margin-top: 15%;
}

#play {
    font-family: 'Indie Flower', cursive; 
    font-size: 50px;
    width: 300px;
    text-align: center;
    color: black;
    display: block;
    position: fixed;
    margin-left: 10%;
    margin-top: 35%;
    background-color: rgb(76, 87, 192);
    border-color: black;
    border-radius: 12px;
    border-width: 5px;
    padding: 5px; 
}

#play:hover {
    background-color: rgb(166, 165, 245);
}

#intro {
    font-family: 'Indie Flower', cursive; 
    font-size: 50px;
    width: 300px;
    text-align: center;
    color: black;
    display: block;
    position: fixed;
    margin-left: 70%;
    margin-top: 35%;
    background-color: rgb(76, 87, 192);
    border-color: black;
    border-radius: 12px;
    border-width: 5px;
    padding: 5px; 
}

#intro:hover {
    background-color: rgb(166, 165, 245);
}


#pauseButton {
    font-size: 20px;
    position: absolute;
    z-index: 2;
    color: white;
    margin-top: 5%;
    margin-left: 1%;
}

#playButton {
    display: none;
    font-size: 20px;
    position: absolute;
    z-index: 2;
    color: white;
    margin-top: 5%;
    margin-left: 1%;
}

#endGameBack {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

#endGameFront {
    display: block;
    position: fixed;
    background-color: rgb(11, 47, 204);
    margin-top: 10%;
    margin-left: 18%;
    padding: 20px;
    width: 60%;
    border: 5px solid black;
    border-radius: 12px;

}

#endGameTxt {
    font-family: 'Indie Flower', cursive; 
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
}

#restart {
    font-family: 'Indie Flower', cursive; 
    font-size: 50px;
    width: 300px;
    text-align: center;
    color: black;
    margin-left: 40%;
    margin-top: 35%;
    background-color: rgb(76, 87, 192);
    border-color: black;
    border-radius: 12px;
    border-width: 5px;
    padding: 5px;   
}

#restart:hover {
    background-color: rgb(166, 165, 245);
}

#level {
    display: block;
    position: fixed;
    font-family: 'Indie Flower', cursive; 
    font-size: 70px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
}

#spells {
    display: none;
    position: fixed;
    font-family: 'Indie Flower', cursive; 
    font-size: 55px;
    padding: 5px;
    width: 30%;
    height: 30%;
    margin-top: 30%;
    margin-left: 36%;
    border:5px solid black;
    border-radius: 6px;
    text-align: center;
    align-content: center;
    z-index: 10;
    background-color: rgb(90, 88, 233);
    color: white;
}

#pauseBox {
    display: none;
    position: fixed;
    font-family: 'Indie Flower', cursive; 
    font-size: 25px;
    padding: 15px;
    width: 45%;
    height: 37%;
    margin-top: 15%;
    margin-left: 27%;
    border:5px solid black;
    border-radius: 6px;
    text-align: center;
    align-content: center;
    z-index: 10;
    background-color: rgb(90, 88, 233);
    color: white;
}

#save {
    font-family: 'Indie Flower', cursive; 
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: rgb(76, 87, 192);
    border-color: black;
    border-radius: 12px;
    border-width: 5px;
    padding: 5px; 
}

#save:hover {
    background-color: rgb(166, 165, 245);
}

#gameplayIntro {
    font-family: 'Indie Flower', cursive; 
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: rgb(76, 87, 192);
    border-color: black;
    border-radius: 12px;
    border-width: 5px;
    padding: 5px; 
}

#gameplayIntro:hover {
    background-color: rgb(166, 165, 245);
}

#saveExit {
    font-family: 'Indie Flower', cursive; 
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: rgb(76, 87, 192);
    border-color: black;
    border-radius: 12px;
    border-width: 5px;
    padding: 5px; 
}

#saveExit:hover {
    background-color: rgb(166, 165, 245);
}

#infoBox {
    display: none;
    position: fixed;
    font-family: 'Indie Flower', cursive; 
    font-size: 25px;
    padding: 15px;
    width: 45%;
    height: 39%;
    margin-top: 15%;
    margin-left: 27%;
    border:5px solid black;
    border-radius: 6px;
    text-align: center;
    align-content: center;
    z-index: 10;
    background-color: rgb(90, 88, 233);
    color: white;
}

.close {
    position: absolute;
    top: -10px;
    right: 10px;
    color: black;
    font-size: 50px;
}

.close:hover{
    color:rgb(190, 190, 190);
}

#monologue {
    display: block;
    position: fixed;
    font-family: 'Indie Flower', cursive; 
    font-size: 25px;
    padding: 15px;
    width: 35%;
    margin-top: 15%;
    margin-left: 29%;
    border:5px solid black;
    border-radius: 6px;
    text-align: center;
    align-content: center;
    z-index: 10;
    background-color: rgb(90, 88, 233);
    color: white;
}

#next {
    display: block;
    position: absolute;
    font-size: 15px;
    bottom: 5px;
    right: 5px;
    color: greenyellow;
}

#startGame {
    font-family: 'Indie Flower', cursive; 
    display: none;
    position: relative;
    float: right;
    bottom: -10px;
    font-size: 20px;
    background-color: rgb(53, 50, 228);
    border:5px solid black;
    border-radius: 6px;
    color: white;
}

#startGame:hover {
    background-color: rgb(123, 120, 250);
}


